/* FONT IMPORT */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

/* RESET */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Open Sans", sans-serif;
  background-color: #f5fafa;
}

.App {
  margin: 2rem;
}

.center-items {
  display: flex;
  justify-content: center;
}
